.sidebar{
    width: 340px;
    padding: 24px;
    box-sizing: border-box;
    background: #FCFCFC;
    border-right: 1px solid #E3E3E3;
}
.sidebar-body{
    margin-top: 90px;
}
.sidebar-body ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.li-item{
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
    border-radius: 12px;
}
.icon{
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
}
.li-item span{
    display:flex;
    font-family:"Inter";
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #6F767E;
    text-transform: none;
}
.sidebar-footer{
    margin-top: 400px;
}
.sidebar-switch{
    display: flex;
    padding: 4px;
    gap: 4px;
    background: #F4F4F4;
    border-radius: 40px;
    height: 40px;
}
.switch-day{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #FCFCFC;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.25), inset 0px -1px 1px rgba(0, 0, 0, 0.04), inset 0px 2px 0px rgba(255, 255, 255, 0.25);
    border-radius: 32px;
}
.switch-night{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 32px;
}
.switch-day svg path{
}
